ul li {
  list-style-type: none;
}

ul {
  display: inline;
}

.navColor {
  text-decoration: none;
  font-family: museo-sans, sans-serif;
  font-weight: 100;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin-left: 20px;
}

.navColor:hover {
  color: white;
  text-decoration: none;
}

.proIcon {
  color: black !important;
  text-decoration: none;
  font-size: 10px;
}

.float-right {
  float: right !important;
}

.MuiAppBar-colorPrimary {
  background-color: #8c3968 !important;
}

.helpOut {
  font-family: museo-sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.helpOut:hover {
  text-decoration: none;
  color: white;
}

.helpOutDiv {
  background-color: #6dbcc1;
  margin-left: -3%;
  height: auto;
  text-align: center;
  height: 65px;
}

.MuiButtonBase-root {
  padding-left: 10px;
}

.helpOutLogo {
  width: 70px;
}

.profile-icon {
  fill: white;
}

.MuiIconButton-label {
  color: white;
}
